* {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

.main-container {
    width: 80vw;
    height: 80vh;
    margin: 2em auto;
    background: linear-gradient(
        40deg, rgb(168, 212, 241) 0%, 
        #F5F7FB 30%,
        #F5F7FB 75%,
        rgb(235, 235, 159) 90%
    );
}

.start-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #293264;
}

.start-page > * {
    margin: 0;
}

.start-page > h2 {
    font-size: 1rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.start-page > button {
    font-size: 1rem;
    padding: 1em 2.5em;
    margin-top: 0.5em;
    color: #F5F7FB;
    background-color: #4D5B9E;
    font-family: "Karla", sans-serif;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.quiz-container {
    padding-top: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #293264;
}

.quiz-container > * {
    padding: 0 2em;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    font-size: 1rem;
}

.options-container {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #DBDEF0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.option {
    font-size: 0.75rem;
    margin: 0;
    border: 1px solid #4D5B9E;
    padding: 0.25em 1em;
    border-radius: 1em;
    cursor: pointer;
    
}

.highlight {
    background-color: #D6DBF5;
}

.hideColor {
    background-color: none;
}

.noColor {
    background-color: none;
    border: 1px solid grey;
    color: grey;
}

.verify-btn {
    display: block;
    align-self: center;
    margin-bottom: 2em;
    padding: 0.75em 1.5em;
    border-radius: 1em;
    border: none;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 0.75rem;
    cursor: pointer;
}

.green {
    background-color: #94D7A2;
    border: none;
}

.red {
    background-color: #F8BCBC;
    border: none;
    color: grey;
}

.grey {
    border: 1px solid grey;
    color: grey;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em
}

.result > h3 {
    margin: 0;
    font-size: 1rem;
}

.result > button {
    margin-bottom: 0;
}